<div id='container' ng-controller='LinksController' ng-init='[]'>

    <nav class="navigation">
    <ul>
      <li>
          <a class="selected" href="#/links">Links</a>
      </li>
       <li>
          <a href="#/shorten">Shorten</a>
      </li>
    </ul>

  </nav>
  <form class="search">
    <input ng-model="query" type="text"
      placeholder="Search" autofocus>
  </form>
  <!-- Your html here -->
  <!-- link item : url, title, shortened link -->
  <div class='links'>
    <div class="link" ng-repeat="link in data.links | filter: query |orderBy:'-visits'" >
      <img src='/assets/redirect_icon.png'/>
      <div class='info'>
          <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
          <div class='title'>{{link.title}}</div>
          <div class='original'>{{link.url}}</div>
          <a  ng-click='' href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
      </div>
    </div>
  </div>

  <button ng-click='logout()'>Logout</button>

</div>




<!-- //need to have ng-app="shortly.links" somewhere? -->